<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleven.boke.mapper.BokeArticleInfoDoMapper">
  <resultMap id="BaseResultMap" type="com.eleven.boke.pojo.Do.BokeArticleInfoDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="is_top" jdbcType="BIGINT" property="isTop" />
    <result column="traffic" jdbcType="INTEGER" property="traffic" />
    <result column="message_id" jdbcType="INTEGER" property="messageId" />
    <result column="picture" jdbcType="LONGVARCHAR" property="picture" />
    <result column="sort_id" jdbcType="BIGINT" property="sortId" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="html" jdbcType="LONGVARCHAR" property="html" />
    <result column="head_title" jdbcType="VARCHAR" property="headTitle" />
    <result column="head_keywords" jdbcType="VARCHAR" property="headKeywords" />
    <result column="head_description" jdbcType="VARCHAR" property="headDescription" />
    <result column="author" jdbcType="VARCHAR" property="author" />
  </resultMap>
  <sql id="Base_Column_List">
      id, title, summary, is_top, traffic, message_id,
      picture, sort_id, gmt_created, gmt_modified, content, html, head_title, head_keywords, head_description, author
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from boke_article_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.eleven.boke.pojo.Do.BokeArticleInfoDo">
    insert into boke_article_info (id, title, summary, 
      is_top, traffic, message_id,
      picture, sort_id,
      content, html,head_title, head_keywords, head_description, author)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{isTop,jdbcType=BIT}, #{traffic,jdbcType=INTEGER}, #{messageId,jdbcType=INTEGER}, 
      #{picture,jdbcType=LONGVARCHAR}, #{sortId,jdbcType=INTEGER},
      #{content,jdbcType=LONGVARCHAR}, #{html,jdbcType=LONGVARCHAR}, #{headTitle,jdbcType=VARCHAR}
      , #{headKeywords,jdbcType=VARCHAR}, #{headDescription,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.eleven.boke.pojo.Do.BokeArticleInfoDo">
    update boke_article_info
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null">
        is_top = #{isTop,jdbcType=BIT},
      </if>
      <if test="messageId != null">
        message_id = #{messageId,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=LONGVARCHAR},
      </if>
      <if test="sortId != null">
        sort_id = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="html != null">
        html = #{html,jdbcType=LONGVARCHAR},
      </if>
      <if test="headTitle != null">
        head_title = #{headTitle,jdbcType=VARCHAR},
      </if>
      <if test="headKeywords != null">
        head_keywords = #{headKeywords,jdbcType=VARCHAR},
      </if>
      <if test="headDescription != null">
        head_description = #{headDescription,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from boke_article_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from boke_article_info
  </select>
  <select id="pageQuery" parameterType="com.eleven.boke.pojo.Do.BokeArticleInfoDo" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List"/>
    from boke_article_info

    <trim prefix="where" prefixOverrides="and">
      <if test="sortId != null">
        sort_id = #{sortId}
      </if>
    </trim>
    order by gmt_created desc;

  </select>
</mapper>
