<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eleven.boke.mapper.BokeClassTreeDoMapper">
    <resultMap id="BaseResultMap" type="com.eleven.boke.pojo.Do.BokeClassTreeDo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="pid" jdbcType="BIGINT" property="pid" />
        <result column="path" jdbcType="VARCHAR" property="path" />
        <result column="status" jdbcType="BIGINT" property="status" />
        <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    </resultMap>
    <sql id="Base_Column_List">
      id, name, pid, path, status, gmt_created, gmt_modified
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from boke_class_tree
    </select>

    <select id="selectMenuList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from boke_class_tree
        where pid is null and path is null and status != 0
    </select>

    <select id="selectPathList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from boke_class_tree
        where path like CONCAT("%", #{path,jdbcType=VARCHAR})
    </select>

    <select id="selectByPidId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from boke_class_tree
        where pid = #{pid, jdbcType=BIGINT} and status != 0
    </select>


</mapper>
